
            <h1>Name: <%= @phone.name %></h1>
            <p><strong>Brand: </strong><%= @phone.brand %></p>
            <p><strong>RAM memory: </strong><%= @phone.ram %></p>
            <p><strong>Storage: </strong><%= @phone.storage %></p>
            <p><strong>Price: </strong><%= @phone.price %></p>
            <%= form_with(url: cart_add_path) do |f|%>
                <%= f.hidden_field :id, value: @phone.id%>
                <%= f.number_field :quantity, value: 0 , min: 1%>
                <%= f.submit "Add to cart" %>
            <%end%>
                                <% if false %>
                                <p><%= link_to "Edit", edit_phone_path(@phone)%></p>
                                <p>
                                    <%= link_to "Delete", phone_path(@phone),
                                    data: {
                                    turbo_method: :delete,
                                    turbo_confirm: "Are you sure?"
                                    } %>
                                </p>
                                <%end%>
<p><%= link_to "Back", root_path %></p>
