<div class="orderables-container">
    <% @cart.orderables.each do |orderable| %>
        <% phone = orderable.phone %>
        <div id="<%= "cart-#{phone.id}" %>">
            <div class="orderables-info">

                <p class="ord-name"><%= phone.name %></p>
                <strong>Marca: </strong>
                <%= phone.brand%>
                <strong>Precio: </strong>
                <%= phone.price%>
                <strong> COP</strong>

                <%= form_with(url: cart_add_path) do |f|%>
                    <%= f.hidden_field :id, value: phone.id%>
                    <%= f.number_field :quantity, value: orderable.quantity , min: 0 %>
                    <%= f.submit "Añadir al carrito", class: 'ord-submit-add'%>
                <%end%>

                <%= form_with(url: cart_remove_path) do |f|%>
                    <%= f.hidden_field :id, value: orderable.id%>
                    <%= f.submit "Eliminar del carrito" , class: 'ord-submit-pop'%>
                <%end%>

                <div class="total">
                <strong>Total:</strong>
                <%= orderable.total %>
                </div>
            </div>
        </div>
    <% end %>
</div>
