<h1>Carrito de compras</h1>

<% @cart.orderables.each do |orderable|%>
    <% phone = orderable.phone %>
    <p><strong><%= phone.name %></strong> * <%= orderable.quantity %> = $<%= phone.price * orderable.quantity %></p>
<% end %>
<% if @cart.orderables.count > 0 %>
    <p>Tu valor total a pagar es: <%= @cart.total%></p>
    <br>

<div class="cart-buttoms-container">
    <div class="continue">
        <p><%= link_to "Seguir comprando", root_path, class: 'continue-link' %></p>
    </div>

    <%= form_with(url: cart_clear_path) do |c|%>
        <%= c.hidden_field :cart_id, value: @cart.id%>
    <%= c.submit "Vaciar carrito", class:'continue-submit'%>
    <%end%>

    <%= form_with(url: cart_payout_path, id: "payout-form") do |f|%>
        <%= f.hidden_field :cart_id, value: @cart.id%>
        <%= f.submit "Pagar" , class: 'continue-submit'%>
    <%end%>
</div>

<% else %>
    <p>Tu carrito se encuentra vacio!</p>
<% end %>

<%#     <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("payout-form").addEventListener("submit", function(event) {
                event.preventDefault();
                alert("¡La compra se ha completado con exito!");
            });
        });
    </script> %>

