<h1>Your Cart</h1>
<% @cart.orderables.each do |orderable|%>
    <% phone = orderable.phone %>
    <p><%= phone.name %> * <%= orderable.quantity %> = $<%= phone.price * orderable.quantity %></p>
<% end %>
<p>Your total is: <%= @cart.total%></p>
<div>
    <a href="<%= %>">Check out</a>
    <a href="<%=  %>">Clear cart</a>
    <p><%= link_to "Go back to shopping", root_path %></p>
</div>